= content_for :panel_title, 'Resend confirmation instructions'

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  %fieldset
    .form-group
      = f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    = f.submit 'Resend confirmation instructions', class: 'btn btn-lg btn-success btn-block'
%br/
= render "devise/shared/links"
