!!!
%html
  %head
    %title Sirius
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    #wrapper
      = render 'layouts/navigation'
      #page-wrapper
        - if notice
          .alert.alert-success= notice
        - if alert
          .alert.alert-danger= alert
        = yield
    = javascript_include_tag 'application'
